---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import CodeIcon from "../icons/Code.astro";
import Experience from "../components/Experience.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";
import SchoolIcon from "../icons/School.astro";
---

<Layout
	title="Carlos Caño - Porfolio"
	description="Ingeniero informático, especializado en el desarrollo de aplicaciones web y móviles."
>
	<main class="px-4">
		<SectionContainer class="py-26 md:py-36">
			<Hero />
		</SectionContainer>
	</main>

	<div class="space-y-24">
		<SectionContainer id="experiencia">
			<TitleSection>
				<SchoolIcon class="size-8" />
				Experiencia académica
			</TitleSection>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<TitleSection>
				<CodeIcon class="size-7" />
				Proyectos
			</TitleSection>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<TitleSection>
				<ProfileCheck class="size-8" />
				Sobre mí
			</TitleSection>
			<AboutMe />
		</SectionContainer>
	</div>
</Layout>
