---
const personalImageAlt = "Carlos Caño";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Soy Carlos! Estudié <strong>ingeniería infórmatica</strong> y, de forma autodidacta,
      me especialice en el <strong>desarrollo móvil y web.</strong>
      <br />
      <br />
      Soy una persona proactiva y apasionada por el desarrollo de aplicaciones móviles
      y web. Me encanta explorar nuevas tecnologías, pero actualmente mis principales
      intereses son <strong
        >SwiftUI, Kotlin con Jetpack Compose y el desarrollo web</strong
      >, en ese orden. Mi enfoque es crear proyectos <strong
        >escalables, mantenibles y bien estructurados,</strong
      >
      estableciendo desde el inicio una arquitectura sólida. <br />
      <br />
      Siempre priorizo el <strong>desarrollo nativo</strong>, siguiendo las
      mejores prácticas recomendadas en cada plataforma. Para mí, una aplicación
      debe ser <strong>accesible, inmersiva y fluida</strong> para brindar la mejor
      experiencia al usuario y <strong>diferenciarse del resto.</strong><br />
      <br />
      Uno de mis puntos fuertes diría que es mi <strong
        >mentalidad analítica</strong
      > y mi <strong>compromiso con cada proyecto</strong> en el que me involucro;
      no lo dejo hasta que estoy seguro de haberlo llevado a su mejor versión. <br
      />
      <br />
      Sin embargo, esto a veces juega en mi contra, ya que tiendo a <strong
        >enfocarme demasiado en una sola tarea</strong
      >, perdiendo la visión global o tardando más de lo previsto al intentar
      ser tan <strong>perfeccionista</strong>. El diseño de interfaces es un
      aspecto en el que sigo trabajando; busco que sean <strong
        >minimalistas y accesibles.</strong
      >
      <br />
      <br />
      En mi tiempo libre, me gusta explorar nuevas funcionalidades y arquitecturas
      que puedan mejorar mis proyectos. Además de mi pasión por la tecnología, me
      gusta desconectar manteniendo un <strong>estilo de vida saludable</strong
      >, disfrutando del
      <strong>deporte, la lectura y la música</strong>.
    </p>
  </div>

  <img
    width="500"
    height="500"
    src="mi-foto.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 30%"
  />
</article>
